.newprojects{
    max-width: 1170px;
    margin: 0 auto !important;
}
.newprojects__top{
    width: 85%;
    margin: 15px auto;
    display: flex;
    justify-content: space-between;
    height: 28px;
}
.newprojects__down{
    display: flex;
    margin: 0 5px;
    justify-content: center;
}
.newprojects__title{
    width: 134px;
    color: #3da5f9;
    font-size: 22px;
    font-weight: 400;
}

.newprojects__arrows span{
    margin-right:30px;
    font-weight: 100;
    font-size: 20px;
}

.newprojects__arrows span > .fa-arrow-left{
    color: #3da5f9;
}

.newprojects__arrows span > .fa-arrow-right{
    color: #c0ccda;
}

.newprojects__project{
    width: 260px;
    height: 425px;
    margin-left: 2em;
    padding: 25px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16);
    border-radius: 5px;
    background-color: #ffffff;
    
}
.newprojects__project:last-child{
    margin-left: 0;
}
.newprojects__project>img{
    width: 256px;
    height: 180px;
    border-radius: 3px;
}

.newprojects__project__contents{
    display: flex;
    margin-top: 8px;
}

.newprojects__project__col1, newprojects__project__col2{
    width: 50%;
}

.newprojects__project__col1 div>span, .newprojects__project__col2 div>span{
    margin-right: 10px;
    color: #8492a6;
    font-size: 14px;
    font-weight: 400;
}
.newprojects__project > .project__title{
    color: #3da5f9;
    font-size: 18px;
    font-weight: 700;
    margin: 0;
    

}

.newprojects__project > p{
    margin-top: 0;
    color: #8492a6;
    font-weight: 400;
    font-size: 13px;
}

.newprojects__project__seemore{
    margin-top: 2px;
    display: flex;
    align-items: center;
    color: #3da5f9;
    font-size: 12px;
}

.newprojects__project__seemore>span{
    margin-right: 10px;
    margin-top: 5px;
}

.newprojects__project__seemore:hover{
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
}
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px) {
    .newprojects__project, .newprojects__project:last-child{
        margin: 10px auto;
    }
    .newprojects__down{
        display: block;
        margin: 0 auto;
    }

}

