.ourapps{
    height: 385px;
    max-width: 950px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16);
    border-radius: 5px;
    background-color: #3da5f9;
    position: relative;
    margin: 80px auto;
}

.ourapps__mobilephoto{
    position: absolute;
    left: 50px;
    top: -55px;
}

.ourapps_text{
    position: absolute;
    width: 65%;
    top: 30px;
    right: 50px;
}

.ourapps__text0{
    color: #475669;
    font-size: 22px;
    font-weight: 700;
}

.ourapps__text1{
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
}

.ourapps__text2{
    color: #ffffff;
    font-size: 22px;
    font-weight: 400;
}

.ourapps_buttons{
    display: flex;
    margin-top: 5em;
}

.ourapps__iosbtn, .ourapps__androidbtn{
    width: 160px;
    height: 57px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    border-radius: 5px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}

.ourapps__iosbtn{
    background-image: url('/assets/ios.png');
    background-repeat: no-repeat;
    background-position: 122px;
    background-size: 30px;
    margin-left: 20px;
}
.ourapps__androidbtn{
    background-image: url('/assets/android.png');
    background-repeat: no-repeat;
    background-position: 122px;
    background-size: 30px;
}
    

.ourapps__iosbtn>span:first-child, .ourapps__androidbtn>span:first-child{
    color: #8492a6;
    font-size: 12px;
    font-weight: 700;
    margin-right: 35%;
    margin-top: 5px;
}

.ourapps__iosbtn>span:last-child, .ourapps__androidbtn>span:last-child{
    color: #475669;
    font-size: 18px;
    font-weight: 400;
    margin-right: 35%;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px) {
    .ourapps__mobilephoto{
        left: 10px;
        top: -35px;
        width: 155px;
    }
    .ourapps{
        height: 312px;

    }
    .ourapps_text{
        width: 66%;
        top: 0;
        right: 21px;
    }
    .ourapps__text0,.ourapps__text1,.ourapps__text2{
        font-size: 20px;
    }
    .ourapps__iosbtn, .ourapps__androidbtn{
        background-position: 90px;
    }
    .ourapps_buttons{
        margin-top: 1em;    
    }
    .ourapps__iosbtn>span:last-child, .ourapps__androidbtn>span:last-child{
        font-size: 14px;
    }
}