.footer{
  display: flex;
  align-items: center;
  height: 341px;
  background-color: #475669;
  justify-content: space-evenly;
  flex-wrap: wrap;
}


.rightSection-paragraph{
  width: 370px;
  height: 133px;
  color: #ffffff;
  font-family: "Helvetica Neue W 23 for SKY";
  font-size: 16px;
  font-weight: 400;
}

.footer-leftSection{
    display: flex;
    justify-content: space-around;
    font-size: 14px;
    font-weight: 700;
    flex-wrap: wrap;
}

.grey-h3{
  color: #c0ccda;
}
.white-h3{
  color: #fff;
}

@media only screen and (max-width: 1085px) {
  .footer{
    height: auto;
  }

}
