.mediacenterpage__nav{
    max-width: 1440px;
    height: 98px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16);
    background-color: #3da5f9;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'sky';
}

.mediacenterpage__nav>:first-child{
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
}

.mediacenterpage__nav>span:last-child{
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    margin-right: 25em;
}