body{
    /* background-color: #ffe4c4; */
    padding: 0;
    margin: 0;
}


.slider-text{
    position: absolute;
    top: 201px;
    left: 655px;
}
.slider-circle{
    position: absolute;
    top: 175px;
    left: 95px;
}
.slider-circle-img{
    width: 500px;
}
.slider-text-title{
    font-size: 27px;
    width: 570px;
    height: 118px;
    color: #ffffff;
    font-size: 42px;
    font-weight: 700;
    line-height: 63px;
}
.slider-text-desc{
    width: 570px;
    height: 79px;
    color: #ffffff;
    font-family: "Helvetica Neue W 23 for SKY";
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
}
.slider-button{
    border: none;
    width: 180px;
    height: 50px;
    border-radius: 5px;
    background-color: #3da5f9;
    color: #ffffff;
    font-family: "Helvetica Neue W 23 for SKY";
    font-size: 16px;
    font-weight: 400;
}
