.fade-wrapper .images-wrap div img{
    height: 648px;
    width: 1284px;
}

.fade-wrapper{
  width: auto;
}

.container .nav{
  display: none;
}

.slider-header-nav{
  position: absolute;
  top: 16px;
  width: 100%;
  left: 0px;
}
