.porjectpage__images__img{
    width: 50%;
    height: 360px;
}
.projectpage__details{
    padding: 4em;
}
.projectpage__details> div{
    display: flex;
    margin-bottom: 40px;
}
.porjectpage__images{
    display: flex;
}
.projectpage__4image{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}
.projectpage__4image>img{
    width: 50%;
    height: 180px;
}

.projectpage__row1{
    align-items: center;
    justify-content: space-between;
}

.projectpage__row1>h1{
    margin-top: 0;
    color: #475669;
}
.projectpage__row1>div{
    color: #475669;
}
.project__page__street{
    display: flex;  
    flex-direction: column;
    justify-content: center;
}

.projectpage__row2>div:first-child, .projectpage__row3>div:first-child, .projectpage__row4>div:first-child, .projectpage__row5>div:first-child{
    width: 30%;
    color: #8492a6;
    font-weight: 700;
    font-size: 18px;
}
.projectpage__row2>div:nth-child(2), .projectpage__row3>div:nth-child(2), .projectpage__row4>div:nth-child(2), .projectpage__row5>div:nth-child(2){
    width: 100%;
    margin-left: 10%;
    color: #475669;
    font-weight: 400;
    font-size: 16px;
}
.projectpage__row4>div:nth-child(2){
    display: flex;
    flex-wrap: wrap;
    font-weight: 700;
}
.projectpage__row4>div:nth-child(2)>a{
    color: #3da5f9;
    width: 30%;
    text-decoration: none;
}

.projectpage__row4>div:nth-child(2) a>span:hover{
    color: #475669;
    cursor: pointer;
}
.projectpage__feature{
    display: flex;
    width: 23%;
    margin-left: 5px;
    margin-top: 5px;
}
.projectpage__CompFeature{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.projectpage__feature>img{
    height: 15px;
    margin-left: 15px;
    margin-top: 5px;
}
.projectpage__feature div>p{
    margin: 0;
}

.projectpage__row5>div:nth-child(2){
    position: relative;
}
.projectpage__runvideobutton{
    position: absolute;
    right: 32%;
    top: 29%;
    background-image: url('/assets/runvideo.png');
    background-repeat: no-repeat;
    background-position: 19px;
    height: 134px;
    border: none;
    background-color: inherit;
}

.projectpage__row5>div:nth-child(2):hover{
    cursor: pointer;
}   

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px){
    .porjectpage__images__img{
        height: 180px;
    }
    .projectpage__4image>img{
        height: 90px;
    }
    .projectpage__CompFeature>.projectpage__feature{
        width: 43%;
    }
    .projectpage__details{
        padding: 1em;
    }
    .projectpage__row1>h1{
        font-size: 15px;
    }
    .project__page__street{
        font-size: 11px;
    }
    .projectpage__details> div{
        margin-bottom: 20px;
    }
    .projectpage__row2>div:first-child, .projectpage__row3>div:first-child, .projectpage__row4>div:first-child, .projectpage__row5>div:first-child{
        font-size: 15px;
    }
    .projectpage__row2>div:nth-child(2), .projectpage__row3>div:nth-child(2), .projectpage__row4>div:nth-child(2), .projectpage__row5>div:nth-child(2){
        font-size: 12px;
        margin-left: 0%;
    }
    .projectpage__row4>div:first-child{
        margin-left: 10px;
    }
    .projectpage__row5{
        margin-bottom: 70px !important;
    }
    .projectpage__row5__video>div{
        width: auto !important;
        height: auto !important;
    }
    .projectpage__runvideobutton>div>video{
        width: 99%;
        height: 100%;
    }
    .projectpage__runvideobutton{
        right: 12%;
        top: 5%;
        background-size: 75px;
    }
  }